@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #ffffff;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
body::-webkit-scrollbar{
  width: 1rem;
  transition:  all 3s;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  border-radius: 4rem;
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid rgb(218, 218, 218);
border-radius: 4rem;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.mobile-tablet {
  overflow-x: hidden;
  @include media-breakpoint-only(lg) {
    display: none;
  }
  @include media-breakpoint-only(xl) {
    display: none;
  }
}

.desktop {
  @include media-breakpoint-only(xs) {
    display: none;
  }
  @include media-breakpoint-only(sm) {
    display: none;
  }
  @include media-breakpoint-only(md) {
    display: none;
  }
}
